<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= content %></p>
      
    <p><a href="<%= link_users.href %>"><%= link_users.text%></a></p>

    <p><a href="<%= link_application_index.href %>"><%= link_application_index.text%></a></p>
    <p><a href="<%= link_application_item.href %>"><%= link_application_item.text%></a></p>

    <p><a href="<%= link_transmit_index.href %>"><%= link_transmit_index.text%></a></p>
    <p><a href="<%= link_transmit_reservation.href %>"><%= link_transmit_reservation.text%></a></p>
    <p><a href="<%= link_transmit_done.href %>"><%= link_transmit_done.text%></a></p>
      
  </body>
</html>
