<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= content %></p>
    <p><a href="<%= link.href %>"><%= link.text%></a></p>
    <p><a href="<%= link_application.href %>"><%= link_application.text%></a></p>

    <p><a href="<%= link_transmit_web.href %>"><%= link_transmit_web.text%></a></p>
    <p><a href="<%= link_transmit.href %>"><%= link_transmit.text%></a></p>
    <p><a href="<%= link_transmit_reservation.href %>"><%= link_transmit_reservation.text%></a></p>
    <p><a href="<%= link_transmit_done.href %>"><%= link_transmit_done.text%></a></p>

  </body>
</html>