<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= content %></p>
    <p><a href="<%= link.href %>"><%= link.text%></a></p>
    <p><a href="<%= link_application.href %>"><%= link_application.text%></a></p>
    <p><a href="<%= link_application_confirm.href %>"><%= link_application_confirm.text%></a></p>
  </body>
</html>
